{
    margin:  0px;
    padding: 0px;

}

div#general{
   
   margin: 50px;
    width: 600px;
    height: 100px;
    
    position:absolute;top: 0px; left: 0px;
}

div#menu2{

    font-style: italic;
    position: absolute;top: 60px; left: 300px;
    width: 290px;
    height: 20px;
    background-color: rgb(137, 217, 223);
}
div#menu1{
 
    position: absolute;top: 60px;
    width: 290px;
    height:20px;
    background-color: rgb(114, 223, 147);
}
div#servicios{
 
    position: absolute;top: 80px;
    width: 290px;
    height:20px;
    background-color: rgb(223, 189, 114);
}

div#articulos{
    max-width: 290px;
    min-width: 10px;
    float: right;
    position:absolute;top: 100px; left: 0px;
    width: 290px;
    height:450px;
    background-color: rgb(240, 238, 235);
}
div#portfolio{
 
    position: absolute;top: 300px;
    width: 290px;
    height:20px;
    background-color: rgb(223, 189, 114);
}
div#serv{
    font-style: italic;
    float: right;
    width: 290px;
    height:470px;
    position:absolute;top: 80px; left: 300px;
    background-color: rgb(174, 175, 157);
}
div#port{
    font-style: italic;
    float: right;
    position:absolute;top: 200px; left: 300px;
    width: 290px;
    height:200px;
    background-color: rgb(227, 228, 235);
}
div#contacto{
    font-style: italic;
    float: right;
    position:absolute;top: 400px; left: 300px;
    width: 290px;
    height:50px;
    background-color: rgb(55, 69, 161);
}



div#cont{
  
    float: left;
    width: 290px;
    height:20px;
    background-color: rgb(209, 172, 50);
    position:absolute;top: 530px;left: 0px;
}